.popup__close-button {
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  appearance: none;
  border: none;
  background: no-repeat center url('../../../images/icon-close.svg');
  position: absolute;
  top: -40px;
  right: -40px;
}

@media (max-width: 550px) {
  .popup__close-button {
    background: no-repeat center url('../../../images/icon-close-s.svg');
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
