.cards-grid {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 20px 17px;
}

@media (max-width: 850px) {
  .cards-grid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (max-width: 550px) {
  .cards-grid {
    grid-template-columns: minmax(282px, 1fr);
  }
}
