.profile {
  padding: 40px 0 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 700px) {
  .profile {
    padding: 42px 19px 36px;
    flex-direction: column;
    justify-content: flex-start;
  }
}
